<section class="country-app">
  <div class="background-container"></div>

  <div class="filter-header" *ngIf="filterBy">
    <input [(ngModel)]="filterBy.txt" (ngModelChange)="filter()" type="text" placeholder="Search for a country...">
    <select [(ngModel)]="filterBy.region" (ngModelChange)="filter()">
      <option value="all" selected>Filter by region</option>
      <option value="Africa">Africa</option>
      <option value="Americas">America</option>
      <option value="Asia">Asia</option>
      <option value="Europe">Europe</option>
      <option value="Ocenia">Ocenia</option>
    </select>
  </div>

  <country-list [countries]="countries$ | async" (onRemove)="remove($event)" (onEdit)="edit($event)"></country-list>

  <router-outlet></router-outlet>
</section>